body {
  background-color: #d1e8e2;
  margin: 0;
  box-sizing: border-box;
}

/*Container starts*/
.container {
  width: 80%;
  margin: auto;
}

.box1 {
  position: relative;
  margin-top: 80px;
}


/* RESPONSIVE */
.picture-right {
  float: right;
  width: 30%;
  padding: 20px 40px;
}

.paragraph-box1 {
  padding-right: 50px;
}

.paragraph-box1 p {
  text-align: justify;
}

span {
  color: #116466;
}

.box2 {
  position: relative;
  margin-top: 15%;
}

.picture-left {
  float: left;
  padding: 0 40px 20px 0;
  width: 30%;
}

.paragraph-box2 p {
  text-align: justify;
}

/*container ends*/

/*input section starts*/
.input-section {
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 7%;
}

/*.text-box-title{
  text-align: center;
}*/

.email-button {
  display: flex;
  width: 50%;
  margin: auto;
  /*justify-content: center;  separate elements horizontally */
  align-items: center;
  /* center vertically */
}

#email {
  padding: 5px 5px;
  width: 100%;
  outline: none;
  border: 1px solid #11656667;
  border-radius: 3px;
}

#send-button {
  color: white;
  background-color: #ffa352;
  font-size: 17px;
  padding: 5px 25px;
  /*15px 35px;*/
  border-radius: 5px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.text-area {
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

#comment{
    outline: none;
    border: 1px solid #11656667;
    border-radius: 3px;
}

@media screen and (max-width: 600px) {

  .picture-right,
  .picture-left {
    display: none;
  }

  .paragraph-box1,
  .paragraph-box2 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .text-area,
  .email-button {
    width: 100%;
  }
}