body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #d1e8e2;
  margin: 0;
  box-sizing: border-box;
}

/*Container starts*/
.container {
  display: flex;
  width: 80%;
  height: 100vh;
  margin: auto;
  margin-top: 80px;
}
/* RESPONSIVE */
#image {
  width: 400px;
  padding: 20px 40px;
}

.paragraph-section {
  padding-right: 50px;
}

span{
  color: #116466;
}
/*container ends*/

/*input section starts*/
.input-section {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 60px;
}

.email-button {
  display: flex;
  width: 50%;
    margin: auto;
  /*justify-content: center;  separate elements horizontally */
  align-items: center; /* center vertically */
}

#email{
  padding: 5px 5px;
  width: 100%;
  outline: none;
}

#send-button {
  color: white;
  background-color: #ffa352;
  font-size: 17px;
  padding:6px 25px; /*15px 35px;*/
  border-radius: 5px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

#comment-textarea {
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  outline: none;
}
