#resume {
    display: none;
}

#resume-label {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    background-color: #ff8e25;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ffd4ab;
}

#selected-file {
    font-size: 12px;
    margin-left: 5px;
}

.input-grp {
    margin: 25px 20px;
}

.accept-terms {
    align-items: center;
    margin: 10px 20px;
}

.accept-terms label {
    font-size: 12px;
    margin-bottom: 0px;
    margin-right: 10px;
}

#submit-btn {
    margin-left: 20px;
    margin-bottom: 25px;
    background-color: #116466;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.d-flex {
    display: flex;
}

form {
    background-color: #dae9e7;
    padding: 10px 30px;
    margin: 0px 30px;
    border: 1px solid #1165666e;
    border-radius: 5px;
    float: left;
}

.container {
    margin: auto;
    padding: 30px 0;

}

.bottom-content {
    margin: 35px 0px;
}
.bottom-content h2{
    color: #ff922d;
}

img {
    display: block;
    margin: auto;
    width: 300px;
}

h2, p{
    text-align: center;
}
h3, p{
    color: #116466;
}
h3{
    margin-left: 20px;
}

@media only screen and (max-width: 1230px) {
    form {
        float: none;
        width: 700px;
        margin: auto;
    }

    .bottom-content {
        width: 80%;
        margin: auto;
        margin-top: 70px;
    }
}

@media only screen and (max-width: 820px) {
    form {
        width: 75%;
    }

    .d-flex {
        flex-direction: column;
    }

    .accept-terms {
        flex-direction: row;
        margin: 5px 25px;
    }

    #submit-btn {
        margin: 5px 25px;
    }

    .input-grp {
        margin: 25px;
    }

    #email,
    #first-name,
    #last-name,
    #phone,
    #address,
    #jqxTextArea {
        width: 100% !important;
    }

}

@media only screen and (max-width: 525px) {
    .input-grp {
        margin: 25px 0px;
    }

    .accept-terms,
    #submit-btn, h3 {
        margin: 5px;
    }

    .file-grp {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    img {
        width: 230px;
    }

    #jqxTextArea{
        width: 100% !important;
    }

}