.container{
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}
.container > p{
    font-size: 14px;
    color: #444444;
}
.select-area{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

select{
    padding: 8px 10px;
    border: none;
    outline: none;
}

#search-btn{
    border: none;
    border-radius: 3px;
    padding: 8px 20px;
    background-color: #116466;
    color: white;

}

.result-area{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.result-area p{
    margin: 50px 0;
}
.profile{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #d1e8e2;
    border-radius: 10px;

    margin-bottom: 40px;
}
.profile-content{
    width: 80%; /* ??? */
    display: flex;
    align-items: center;
    
}
.img-rating{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(100px + 10%);
}
.img-rating img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}
/* name surname - info */
.profile-text{
    width: 70%;
    margin-right: 5%;
    text-align: justify;
    padding: 20px 0;
}
.side-content{
    margin-right: 20px;
    border: 2px solid #b8dcd3;
    border-radius: 5px;
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.side-info{
    font-size: 18px;
    font-weight: bold;
}
.view-profile{
    border: none;
    border-radius: 3px;
    background-color: #ffa958;
    padding: 8px 8px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;

}
