body{
    background-color: whitesmoke;
}

#signup{
    background-color: #ff9736 !important;
    color: white;
    border-radius: 3px;
}
#signup:hover{
    background-color: #116466 !important;
    color: white;
}

.container1{
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-info-section{
    width: 450px;
    height: 450px;
    background-color: #d1e8e2;;
  border: 1px solid #d1e8e2;
  box-shadow: 4px 4px 2px #116466;
  border-radius: 10px;
}

.title{
    text-align: center;
}

.google-account{
    display: flex;    
    align-items: center;
    justify-content: center
}

.google-account a{
    color: black;
    margin-left: 10px;
}

form{
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.Button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9736;
    border-radius: 3px;
    height: 40px;
    width: 150px;
    margin: auto;
    margin-top: 30px;
}

.Button a{
    color: white;
}

.signup-text{
    display: flex;
    justify-content: center;
}

.signup-text a{
    color: gray;
   
}

.forgot-pass-text{
    margin-right: 30px;
}

.picture{
    width: 370px;
    margin-left: 50px;
}
@media screen and (max-width: 1000px) {
    .picture{
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    .container1{
        width: 100%;
    }
}