.profile-info img{
  width: 40px;
  border-radius: 50%;
}
.container {
  width: 80%;
  margin: auto;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 0px;
}
h4{
  color: #383838;
}
.search-container {
  display: flex;
  justify-content: right;
}

.search-container button {
  float: right;
  border-radius: 5px;
  padding: 6px 10px;
  background: #e2e2e2;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.fa{
  color:#116466;
}

.search-container button:hover {
  background: #ccc;
}

.new-translation-container {
  background-color: #d1e8e2;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 5px;
}

.inside-box-text {
  display: flex;
  justify-content: space-between;
  margin: 30px 25px;
}

.inside-box-text > p {
  margin-left: 15px;
  color: #969292;
}
.rate{
  margin-right: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff920c;
}
.inside-box-buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.download-button {
  background-color: #116466;
  padding: 10px 25px;
  border-radius: 5px;
  margin-right: 20px;
}
.comment-dialog, .ui-dialog-titlebar{
  background-color: #def4ef !important;
}
.ui-dialog-titlebar{
  color: #116466 !important;
}
.comment-dialog span{
  font-size: 12px;
  font-style: italic;
  color: #3f9d9e;
}
.stars{
  margin-top: 15px;
}
.comment{
  border: 1px solid #dbb89d;
  border-radius: 3px;
  outline: none;
  margin: 15px 0;
}
.send-comment{
  color: white !important;
  background-color: #ff920c;
  margin-left: 20px;
  padding: 5px 14px;
  border-radius: 4px;
}
.pending-translation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd9bb;
  border-radius: 10px;
  padding: 5px 35px;
  margin-bottom: 40px;
  
}
/* only for this page */
.inside-box-buttons > a{
  color: white;
}