.profile-info img{
  width: 40px;
  border-radius: 50%;
}
.container {
  width: 80%;
  margin: auto;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 0px;
}

.search-container {
  display: flex;
  justify-content: right;
}

.search-container button {
  float: right;
  border-radius: 5px;
  padding: 6px 10px;
  background: #e2e2e2;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.fa{
  color:#116466;
}

.search-container button:hover {
  background: #ccc;
}

.new-translation-container {
  background-color: #d1e8e2;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 5px;
}

.inside-box-text {
  display: flex;
  justify-content: space-between;
  margin: 50px 10px;
}

.inside-box-text > p {
  font-size: medium;
  color: #969292;
  margin-right: 50px;
}

.inside-box-buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

#download-button {
  background-color: #116466;
  padding: 15px 35px;
  border-radius: 5px;
}

#rate-button {
  background-color: #116466;
  padding: 15px 25px;
  border-radius: 5px;
  margin-left: 20px;
}

.pending-translation-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffd9bb;
  border-radius: 10px;
  padding: 5px 17px;
  margin-bottom: 40px;
  
}
/* only for this page */
.inside-box-buttons > a{
  color: white;
}