/* COMMON STYLES */

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #efefef;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* all <li>, <ul>, <a> elements will have these styles 
initially because this file is imported from all pages */

ul{
  padding-inline-start: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* STYLE HEADER (NAVIGATION) */

/* nav-bar class includes 2 divs: logo-and-nav + navbar-buttons */
.nav-bar {
  display: flex; /* display divs side by side */
  justify-content: space-between; /* separate items in flex direction (flex direction is row (x axis) intially) */
  align-items: center; /* center items vertically (cross axis: y) */
  padding: 5px 20px;
  background-color: white;
}
/* logo-and-nav class includes 2 divs: logo + nav */
.logo-and-nav {
  display: flex; /* display divs side by side */
  justify-content: space-between; 
  align-items: center; /* center items vertically */
}
/* style logo */
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.logo img{
  width: 45px;
  margin: 0 5px;
}
.logo-text{
  text-align: center;
  color: #116466;
  margin-right: 5px;
  font-size: 8px;
}
.logo-title{
  font-size: 18px;
  font-weight: bold;
}
/* style navigation */
nav ul{
  display: flex; /* display <li> elements side by side */
}
nav ul li{
  margin: 0 12px;
}
/* style both nav-links and signup link */
nav a, #signup{
  font-size: 14px;
  color: #383838;
}
nav a:hover{
  color: #116466;
  padding-bottom: 18px;
  border-bottom: 4px solid #116466;
}
.navbar-buttons{
  display: flex;
  align-items: center;
}
#signup {
  padding: 12px 20px;
  margin: 0 10px;
}
#signup:hover{
  color: #116466;
}

#login {
  background-color: #ff9736;
  color: white;
  padding: 12px 25px;
  border-radius: 3px;
}

#login:hover {
  background-color: #116466;
}

/* STYLE FOOTER */
footer {
  width: 100%;
  margin: auto;
  background-color: #116466;
  color: white;
}

.logo-and-footer {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly; /* separate elements horizontally */
  align-items: center; /* center vertically */
}
.logo-and-footer img{
  width: 180px;
  margin-bottom: 15px;
}
.footer-logo {
  font-size: 14px;
}
.members a{
  color: white;
  margin-left: 6px;
}
.logo-and-footer li{
  margin-bottom: 10px;
}
.footer-links a{
  color: #efefef;
  text-decoration: underline;
}
.follow-us {
  margin-bottom: 50px;
}

.follow-us > a {
  color: white;
  margin-right: 10px;
}
