body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #d1e8e2;
  margin: 0;
  box-sizing: border-box;
}

/* be careful: all li, ul, a will inherit this style */
ul{
  padding-inline-start: 0px;
}

li {
  list-style: none;
  margin: 0 12px;
}

a {
  text-decoration: none;
}

/* style navigation */

.nav-bar {
  margin: auto;
  padding: 5px 10px;
  background-color: white;
  display: flex;
  justify-content: space-between; /* separate elements horizontally */
  align-items: center; /* center vertically */
}
.logo-and-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-and-nav img{
  width: 45px;
  margin: 0 5px;
}
.logo-text{
  text-align: center;
  color: #116466;
  margin-right: 5px;
 
}
.logo-title{
  font-size: 18px;
  font-weight: bold;
}
.logo-text{
  font-size: 8px;
}
nav ul{
  display: flex;
}
nav a, #signup{
  font-size: 14px;
  color: #383838;
}

nav a:hover, #signup:hover{
  color: #116466; /*#8ea39d; */
  padding-bottom: 18px;
  border-bottom: 4px solid #116466;
  
}

nav a:focus-visible{
  color: #116466; /*#8ea39d; */
  padding-bottom: 18px;
  border-bottom: 4px solid #116466;
  
}

.header-btn > a {
  margin: 0 10px;
}

#login {
  /*background-color: #ffcb9a; d9b08c*/
  background-color: #116466;
  color: white;
  padding: 12px 30px;
  border-radius: 2px;
}

#login:hover {
  background-color: #8fafaf;
  
}

/*   FOOTER START   */
footer {
  width: 100%;
  margin: auto;
  background-color: #116466;
  color: white;
}

.logo-and-footer {
  padding: 20px 0;
  display: flex;
  justify-content: space-around; /* separate elements horizontally */
  align-items: center; /* center vertically */
}
.logo-and-footer img{
  width: 200px;
}
.logo-and-footer li{
  margin-bottom: 10px;
}
.footer-links a{
  color: rgb(216, 208, 208);
  text-decoration: underline;
}

.follow-us {
  /*padding: 20px;*/
  margin-bottom: 50px;
}

.follow-us > a {
  color: white;
  margin-right: 10px;
}

/*  FOOTER FINISH  */
