body{
    background-color: whitesmoke;
}

.container1{
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-info-section{
    width: 450px;
    height: 520px;
    background-color: #d1e8e2;
    border: 1px solid #d1e8e2;
    box-shadow: 4px 4px 2px #116466;
    border-radius: 10px;
}

.title{
    text-align: center;
}

.google-account{
    display: flex;    
    align-items: center;
    justify-content: center
}

.google-account a{
    color: black;
    margin-left: 10px;
}

form{
    margin:20px 40px;
}

.input-center{
    width: 65%;
    margin: auto;
}

.agreement-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    margin-top: 30px;
}

.Button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9736;
    height: 40px;
    width: 150px;
    margin: 0px 115px;
    border-radius: 3px;
}

.Button a{
    color: white;
}

.login-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-text a{
    color: gray;
    margin-left: 10px;
}

.login-text p{
    color: gray;
}

.picture{
    width: 450px;
    margin-left: 50px;
}
@media screen and (max-width: 1000px) {
    .picture {
        display: none;
    }  
}

@media screen and (max-width: 1200px) {
    .container1{
        width: 100%;
    }
}