.profile-section {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#profile-image-id {
  display: block;
  margin: auto;
  width: 200px;
  border-radius: 4px;
}

.profile-name {
  width: 45%;
  padding: 0px 25px;
}

.profile-price-box {
  height: 200px;
  text-align: center;
  background-color: #d1e8e2;
  border-radius: 10px;
}

.inside-price-box {
  padding: 15px 50px;
}

#price-box-button {
  text-decoration: none;
  color: white;
  background-color: #ff9736;
  border-radius: 5px;
  padding: 15px 35px;
  margin: 20px;
}

.general-section-style {
  background-color: #d1e8e2;
  border-radius: 10px;
  width: 70%;
  margin: auto;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px 10px;
}

h3 {
  text-align: center;
}
.about-translator-section p, .resume-section p{
  margin: 0px 15px;
}
.resume-section h4{
  margin-left: 15px;
}
.customer-profile-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px;
}

.customer-pic {
  margin-right: 30px;
}

/* no id duplicate!*/
.customer-pic-id {
  width: 100px;
  display: block;
  border-radius: 50%;
  margin-bottom: 10px;
}

#send-btn {
  background-color: #ff9736;
  color: white;
  border-radius: 5px;
}

/* dialog styling */
#resume {
  display: none;
}

#resume-label {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  background-color: #116466;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ffd4ab;
  margin-bottom: 20px;
}

#selected-file {
  font-size: 12px;
  margin-left: 5px;
}
label,
input {
  display: block;
}

input.text {
  margin-bottom: 12px;
  width: 95%;
  padding: .4em;
}

fieldset {
  padding: 0;
  border: 0;
  margin-top: 25px;
}
/* displayed when file is uploaded */
.price {
  display: none;
}
.price-active{
  display: block;
  margin-top: -0px;
  margin-bottom: 20px;
}
.validateTips {
  border: 1px solid transparent;
  padding: 0.3em;
}

input[type=text]::placeholder {
  opacity: 0.3;
  font-weight: lighter;
  letter-spacing: 1px;
}

label {
  font-size: 14px;
  margin-bottom: 4px;
}

@media screen and (max-width: 920px) {

  .profile-section,
  .general-section-style {
    width: 85%;
  }

}

@media screen and (max-width: 610px) {
  h1 {
    font-size: 24px;
  }

  h4 {
    font-size: 14px;
  }

  .profile-section {
    flex-direction: column;
  }

  #profile-image-id {
    width: 100px;
    border-radius: 50%;
  }

  .profile-name {
    text-align: center;
    margin: 0;
    width: 90%;
  }

  .profile-price-box {
    width: 130px;
    height: 100%;
    padding: 10px 20px;
  }

  .inside-price-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .inside-price-box h1 {
    margin-left: 10px;
    font-size: 18px;
  }
}