.profile-section {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#profile-image-id {
  width: 200px;
  border-radius: 4px;
}

.profile-price-box {
  padding: 30px 20px;
  text-align: center;
  background-color: #d1e8e2;
  border-radius: 10px;
  margin-bottom: 40px;
}

.inside-price-box {
  padding: 30px 50px;
}

#price-box-button {
  text-decoration: none;
  color: white;
  background-color: #ff9736;
  border-radius: 5px;
  padding: 15px 35px;
  margin: 20px;
}

.general-section-style {
  background-color: #d1e8e2;
  border-radius: 10px;
  width: 71%;
  margin: auto;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px 10px;
}

h3 {
  text-align: center;
}

.customer-profile-section {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
/* no id duplicate!*/
.customer-pic-id {
  width: 170px;
  border-radius: 50%;
}

.customer-pic {
  margin: 0px 50px;
}

.stars {
  margin: 20px;
  align-items: center;
  display: flex;
  padding: 20px;
}
