body{
    background-color: #D1E8E2;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 80%;
    margin: auto;
    background-color: #116466;
    display: flex;
    justify-content: space-between; /* separate elements horizontally */
    align-items: center; /* center vertically */
}
.logo-and-nav{
    display: flex;
    align-items: center;
}
.logo{
    width: 150px;
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin: 0 10px;
}
a{
    color: white;
    text-decoration: none;
}
.header-btn > a{
    margin: 0 10px;
}
